wrapper {
  min-height: 100vh;
}

.autoform-array-item-body > .card {
  border: 0 !important;
}

.no-wrap {
  white-space: nowrap;
}

[data-required] label::after {content: '*';}

form ul,
form ul li,
form .card {
  border: 0 !important;
}

form ul li {
  padding: 0 !important;
}
