.autoform-array-item-body > .card {
  border: 0 !important;
}

.no-wrap {
  white-space: nowrap;
}

[data-required] label::after {content: '*';}

form ul,
form ul li,
form .card {
  border: 0 !important;
}

body {
  overflow-y: hidden;
}

form ul li {
  padding: 0 !important;
}

.d-unavailable {
  pointer-events: none;
  opacity: 0.65;
}

.clickable {
  cursor: pointer;
}

@font-face {
  font-family: 'Semikolon';
  src: url('/SemikolonPlus-Regular.ttf') format('truetype');
  font-display: auto;
}

p, div, span, h1, h2, h3, h4, h5, h6, button, label, a {
  font-family: 'Semikolon', Arial, 'sans-serif';
}

@media print {

  // force no bg on target when printing

  .bg-print-none {
    background: none !important;
  }

  body, main, .mainwrapper, .contentwrapper {
    background: none !important;
    overflow: visible;
  }

  // use as our page break anchor
  .page-break-before {
    page-break-before : always !important;
  }

  .page-break-avoid {
    page-break-inside : avoid !important;
  }

  hr {
    border: solid 2px !important;
  }

  .border-print {
    border: solid 2px !important;
  }
}

