.user-sidebar {
  width: 15%;
}

/* ========================================================================== */

.flip-card {
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  transform-style: preserve-3d;
  cursor: pointer;
  transition: transform 0.8s;
}

.flip {
  transform: rotateY(180deg);
}

.flip-card-front {
  backface-visibility: hidden;
}

.flip-card-back {
  backface-visibility: hidden;
  transform: rotateY(180deg);
}