.user-sidebar {
  width: 15%;
  min-width: 220px;
  height: 100%;
}

.user-sidebar.with-content {
  overflow-y: auto;
  overflow-x: hidden;
}

.user-page-content {
  overflow-y: auto;
  overflow-x: hidden;
}

.category-card {
  background-color: #E2E4E7;
}

.competency-container {
  min-height: 6rem;
}

.competency-card {
  cursor: pointer;
}

/* ========================================================================== */

.flip-card {
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  transform-style: preserve-3d;
  cursor: pointer;
  transition: transform 0.8s;
}

.flip {
  transform: rotateY(180deg);
}

.flip-card-front {
  backface-visibility: hidden;
}

.flip-card-back {
  backface-visibility: hidden;
  transform: rotateY(180deg);
}