.user-sidebar {
  height: 100%;
  min-width: 220px;
  width: 15%;
}

.user-sidebar.with-content {
  overflow-x: hidden;
  overflow-y: auto;
}

.user-page-content {
  overflow-x: hidden;
  overflow-y: auto;
}

.category-card {
  background-color: #e2e4e7;
}

.competency-card {
  cursor: pointer;
}

.bg-blue-gray {
  background-color: #8094aa !important;
}

/* ========================================================================== */

.flip-card {
  backface-visibility: hidden;
  cursor: pointer;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.competency-content {
  position: relative;
}

.flip {
  transform: rotateY(180deg);
}

.flip-card-front {
  backface-visibility: hidden;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.flip-card-back {
  backface-visibility: hidden;
  transform: rotateY(180deg);
  z-index: 9;
}
