# folders
node_modules/
packages/

# ide specific
.idea
.vscode

# config files
productionSettings.json
leaconfig.json
i18n_routes.json
routes.json

# proprietary stuff
public/fonts/
public/logos/

.deploy

