// GRAPH

.graphcard { // cross-browser support
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.12);
  padding: 15px;
  padding-bottom: 30px;
  position: relative;
}

.flexwraper { // cross-browser support
  display: flex;
}

@-webkit-keyframes animate-height { // cross-browser support
  0% {
    height: 0;
  }
  100% {
    visibility: visible;
  }
}

@-moz-keyframes animate-height { // cross-browser support
  0% {
    height: 0;
  }
  100% {
    visibility: visible;
  }
}

@keyframes animate-height { // cross-browser support
  0% {
    height: 0;
  }
  100% {
    visibility: visible;
  }
}

.graphtable { // cross-browser support
  display: table;
  border-collapse: collapse;
  width: 100%;
}

.graph-wrapper { // cross-browser support
  display: table-row;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid #3a6491;
  position: relative;
}

.graph-title { // cross-browser support
  position: relative;
}

.graph-title::after { // cross-browser support
  content: "";
  width: 130px;
  background-color: #3a6491;
  height: 1px;
  position: absolute;
  bottom: -1px;
}

.graph-title::after { // cross-browser support
  right: -130px;
}

.lines-s .graph-title::after { // cross-browser support
  left: -130px;
}

.lines-s .graph-title { // cross-browser support
  border-right: 0px;
  color: #fff;
}

.lines-s { // cross-browser support
  flex: 0 0 auto;
  width: 10px;
}

.graph-bottom-navigation { // cross-browser support
  border-bottom: 0px !important;
}

.graph-bottom-navigation .date-lists { // cross-browser support
  padding: 15px 30px;
  text-align: center;
  padding-right: 40px;
  display: table-cell;
}

.graphloop { // cross-browser support
  padding: 0px 30px;
  display: table-cell;
  padding-right: 50px;
}

.graph-group { // cross-browser support
  display: flex;
  width: 100%;
  border-bottom: 1px solid #3a6491;
}

.graplist { // cross-browser support
  justify-content: space-between;
  flex: 0 0 auto;
  width: calc(100% - 255px);
  margin: auto;
  overflow-y: hidden;
  overflow-x: scroll;
  padding-bottom: 3px;
}

.graphtitle { // cross-browser support
  white-space: nowrap;
  width: 115px;
  font-weight: 600;
}

.graph-title { // cross-browser support
  display: flex;
  align-items: center;
  height: 71px;
  border-bottom: 1px solid #3a6491;
  border-right: 1px solid #3a6491;
}

.barchart { // cross-browser support
  display: flex;
  justify-content: center;
  height: 70px;
  align-items: flex-end;
  padding-top: 10px;
}

.barline { // cross-browser support
  width: 20px;
  position: relative;
  height: 0px;
  margin: 0px 4px;
  background: rgb(25, 186, 113);
  background: linear-gradient(
          180deg,
          rgba(25, 186, 113, 1) 40%,
          rgba(47, 85, 70, 1) 100%
  );
  animation: animate-height;
  -webkit-animation: animate-height;
  -moz-animation: animate-height;
  animation: animate-height;
  animation-timing-function: cubic-bezier(0.35, 0.95, 0.67, 0.99);
  -webkit-animation-timing-function: cubic-bezier(0.35, 0.95, 0.67, 0.99);
  -moz-animation-timing-function: cubic-bezier(0.35, 0.95, 0.67, 0.99);
  animation-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.passive-user {
  background: rgb(186, 186, 186) !important;
  background: linear-gradient(
          180deg,
          rgba(186, 186, 186, 1) 40%,
          rgba(47, 47, 47, 1) 100%
  ) !important;
}

.hover { // cross-browser support
  background: rgb(226, 149, 56);
  background: linear-gradient(
          180deg,
          rgba(226, 149, 56, 1) 40%,
          rgba(246, 229, 70, 1) 100%
  );
}
.hoverbox { // cross-browser support
  position: absolute;
  top: -10px;
  background-color: #fff;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.22);
  min-width: 185px;
  z-index: 100;
  left: 23px;
  padding: 10px;
  transition: all 0.2s ease-in-out 0s;
  border: 1px solid #777;
  border-radius: 15px;
  display: none;
}
.graphtable .graph-wrapper:nth-last-child(2) .hoverbox { // cross-browser support
  top: inherit;
  bottom: 0 !important;
}
.graphtable .graph-wrapper:nth-last-child(3) .hoverbox { // cross-browser support
  top: inherit;
  bottom: 0 !important;
}
.graph-wrapper .graphloop:last-child .hoverbox { // cross-browser support
  left: inherit;
  right: 25px;
}
.hoverbox .arrow { // cross-browser support
  display: none;
}
.barline:hover .hoverbox { // cross-browser support
  opacity: 1;
  display: block;
}
.hoverbox p { // cross-browser support
  font-size: 14px;
  margin-bottom: 2px;
  font-weight: 400;
}
.hoverbox .arrow { // cross-browser support
  position: absolute;
  display: block;
  width: 1rem;
  height: 0.5rem;
  margin: 0 0.3rem;
}
.hoverbox .arrow::after,
.hoverbox .arrow::before { // cross-browser support
  position: absolute;
  display: block;
  content: "";
  border-color: transparent;
  border-style: solid;
  left: -17px;
  top: 8px;
  border-right-color: rgba(0, 0, 0, 0.25);
  border-width: 0.5rem 0.5rem 0.5rem 0;
}
.hoverbox .arrow::after { // cross-browser support
  border-right-color: #fff;
  left: -16px;
  top: 7px;
}
/*
 *  STYLE 2
 */
.customscroll::-webkit-scrollbar-track { // cross-browser not support
  -webkit-box-shadow: none;
  border-radius: 10px;
  background-color: #f5f5f5;
  border: 1px solid #3a6491;
}
.customscroll::-webkit-scrollbar { // cross-browser not support
  width: 10px;
  height: 10px;
  background-color: #f5f5f5;
}
.customscroll::-webkit-scrollbar-thumb { // cross-browser not support
  border-radius: 10px;
  -webkit-box-shadow: none;
  background-color: #3a6491;
  border: 1px solid #3a6491;
}
.dropdownmenu { // cross-browser support
  position: relative;
  border: 1px solid #3a6491;
  padding: 6px 12px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 500;
  .dropdown-menu {
    top: 0;
    min-width: 200px;
  }
}
.dropdownmenu svg { // cross-browser support
  padding-left: 6px;
  margin-left: 5px;
  border-left: 1px solid #3a6491;
  width: 21px;
}
.labelvalue { // cross-browser support
  cursor: pointer;
  font-weight: 400;
}
.selctmenu { // cross-browser support
  position: absolute;
  bottom: 26px;
}
.selctmenu .dropdown-menu { // cross-browser support
  transform: translate3d(5px, 35px, 0px) !important;
}
.dropdownmenu .dropdown-item { // cross-browser support
  padding: 6px 10px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}
:checked + label { // cross-browser support
  color: #1a1a1a !important;
}
.zoombtn { // cross-browser support
  position: absolute;
  right: 7px;
  bottom: 26px;
}
.zoombtn #zoombar { // cross-browser support
  display: flex;
  align-items: center;
}
.zoombtn span { // cross-browser support
  font-size: 13px;
  font-weight: 300;
  margin: 0px 2px;
}
.zoombtn button { // cross-browser support
  background-color: #ffff;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  font-size: 14px;
  color: #ff00ff;
  border: 1px solid #3a6491;
  border-radius: 50%;
}
.zoombtn button:hover { // cross-browser support
  background-color: #3a6491;
  color: #ff00ff;
}
.zoombtn button:focus { // cross-browser support
  outline: none;
}

.graphtable.zoomin1 .barline {
  width: 15px;
}
.graphtable.zoomin1 .graphloop { // cross-browser support
  padding: 0px 6px;
  padding-right: 40px;
}
.graphtable.zoomin1 .barchart { // cross-browser support
  justify-content: center;
}
.graphtable.zoomin1 .graph-bottom-navigation .date-lists { // cross-browser support
  padding-left: 5px;
  padding-right: 40px;
}
.graphtable.zoomin1 .graph-bottom-navigation.graph-wrapper::after { // cross-browser support
  display: none;
}
