<template name="navSide">
	<nav class="col-md-3 d-none d-md-block sidebar">
		<div class="sidebar-sticky">
			<ul id="main-sidebar" class="nav nav-pills flex-column mt-4">
                <li class="nav-item">
                    {{#onLoaded loaded=componentsLoaded}}
                        {{> link href=(route 'myClasses') icon="home" title='Routes.myClasses.label'}}
                    {{/onLoaded}}
                </li>
                <li class="nav-item">
                    {{#onLoaded loaded=componentsLoaded}}
                        {{> link href=(route 'class' class) icon="th-large" title='Routes.class.label'}}
                    {{/onLoaded}}
                </li>
                <li class="nav-item">
                    {{#onLoaded loaded=componentsLoaded}}
                        {{> link href=(route 'user' user) icon="sliders-h" title='Routes.user.label'}}
                    {{/onLoaded}}
                </li>
                <li class="nav-item">
                    {{#onLoaded loaded=componentsLoaded}}
                        {{> link href='#' icon="print" title='actions.print'}}
                    {{/onLoaded}}
                </li>
			</ul>
		</div>
	</nav>

</template>