<!-- the login render target is used only for routes on logged-out users -->

<template name="logged-out-render-target">
    <wrapper class="container-fluid d-flex flex-column">
        <main class="w-100 main-container flex-fill">
            {{> yield}}
        </main>
        {{> navBottom}}
    </wrapper>
    {{> notifications }}
</template>

<!-- the login render target is used for logged-in users -->

<template name="main-render-target">
    {{> navTop}}
    <wrapper class="container-fluid d-flex flex-row p-0">
        {{> navSide class="d-none d-md-block"}}
        <main role="main" class="col-12 col-md-11 p-3 main-container">
            <h1>{{routeLabel}}</h1>
            {{> yield}}
        </main>
    </wrapper>
    {{> navBottom}}
    {{> notifications }}
</template>