<!-- the login render target is used only for routes on logged-out users -->

<template name="logged-out-render-target">
    <wrapper class="container-fluid d-flex flex-column">
        <main class="w-100 main-container flex-fill">
            {{> yield}}
        </main>
    </wrapper>
    {{> notifications }}
</template>

<!-- the login render target is used for logged-in users -->

<template name="main-render-target">
    <!-- {{> navTop}}  -->
    <div class="mainwrapper">
        {{> navSide class="d-none d-md-block"}}
        <div class="contentwrapper w-100 vh-100 d-flex p-4">
            <main role="main" class="w-100 h-100">
                {{> yield}}
            </main>
        </div>
        {{> navBottom}}
    </div>
    {{> notifications }}
</template>
