.sidebar {
  background-color: #646464;
  min-width: 1rem;
  width: 5%;
}

.side-nav-item {
  border: #fff 1px solid;
  border-radius: 5px;
  margin: 15% 30%;
  text-align: center;
}

.side-nav-item > a {
  color: #fff !important;
}




